* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    border: solid black 1px;
}

.boxes {
    border: solid red 1px;
}


/* VISTA TELEFONO */

.navegacion{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
    background-color: #677AF5;
}

.busqueda {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #DAE0F6;
}

.principal {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pie-pagina {
    grid-area: footer;
    background-color:#0f1e81;
}

/* Contenedor Grid */

.container {
    display: grid;

    grid-template-areas: 
    'header'
    'aside'
    'section'
    'footer';

    grid-template-rows: 70px 75px calc(100vh - 70px - 75px - 80px) 80px;
}



/* Header */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h3 {
    color: #ffffff;
    font-size: 20px;
}

.logo span{
    color: #ffffff;
    font-size: 30px;
}

.menu i {
    font-size: 30px;
}

/* Aside */

.busqueda select {
    width: 75%;
}

/* Principal */

.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    height: 90%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    height: 97%;
    width: 95%;
    border: solid gray 1px;
    box-shadow: 0 5px 5px  gray;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}
.image img{
    width: 100%;
    height:auto;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.botones button {
    padding: 10px;
    background-color:#677AF5;
    color: #ffffff;
    border-radius: 10px;
}

.paginas {
    height: 10%;
    width: 100%;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagina {
    padding: 10px;
    color: #677AF5;
    border: #DAE0F6 solid 1px;
}

.pagina a {
    color: #677AF5;
}

/* Footer */

.pie-pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pie-pagina h2 {
    color: #ffffff;
    font-size: 15px;
}

.red-social{
    display: flex;
    gap: 15px;
}

.red-social i {
    color: #ffffff;
    font-size: 25px;
}
